{% extends "base.html" %}

{% block content %}
  
  <form method="POST">
    {{ form.hidden_tag() }}

    <h2>Profile</h2>
    
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </p>
    
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
    </p>

    <h3>Update Your Favorites</h3>
    <div class="mb-3">
      <label for="fav_driver_1">Favorite Driver 1</label>
      {{ form.fav_driver_1(class="form-control") }}
    </div>

    <div class="mb-3">
      <label for="fav_driver_2">Favorite Driver 2</label>
      {{ form.fav_driver_2(class="form-control") }}
    </div>

    <div class="mb-3">
      <label for="fav_team">Favorite Team</label>
      {{ form.fav_team(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
{% endblock %}